<!-- NAVBAR -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Simulador Icecof</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Incidencias
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Trabajos en Vía</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<!-- /NAVBAR -->

<!-- FORMULARIO NUEVO -->
<app-issues></app-issues>

<br>
<div class="container card card-outline-secondary">
  <br>
  <blockquote class="blockquote">
    <h3>Creación de Incidencia</h3>
  </blockquote>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Código</label>
        <input type="email" class="form-control" placeholder="Introduzca Código">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Descripción</label>
        <input type="email" class="form-control" placeholder="Introduzca Descripción">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tipo</label>
        <select name="" id="" class="form-control">
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Subtipo</label>
        <select name="" id="" class="form-control">
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Estado</label>
        <select name="" id="" class="form-control">
          <option value="">Abierta</option>
          <option value="">Cerrada</option>
          <option value="">Cancelada</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nodo Inicial</label>
        <select name="" id="" class="form-control">
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Nodo final</label>
        <select name="" id="" class="form-control">
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Hora inicial</label>
        <input type="text" class="form-control" name="" id="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Hora final</label>
        <input type="text" class="form-control" name="" id="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Hora final esperada</label>
        <input type="text" class="form-control" name="" id="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Vías seleccionadas</label>
        <select multiple name="" id="" class="form-control">
          <option value="">Via 1 (Saiding 1)</option>
          <option value="">Via 2 (Saiding 1)</option>
          <option value="">Via 1 (Saiding 1-Sading 2)</option>
          <option value="">Via 2 (Saiding 1-Sading 2)</option>
          <option value="">Via 1 (Saiding 2)</option>
          <option value="">Via 2 (Saiding 2)</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary">Guardar</button>
      <button class="btn btn-primary">Limpiar</button>
    </div>
  </div>
  <br>
</div>
<!-- /FORMULARIO NUEVO -->
<br>