<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Incidencias
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Trabajos en Vía</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<!-- FORMULARIO -->
<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Código</label>
      <input type="email" class="form-control" placeholder="Introduzca Código">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Descripción</label>
      <input type="email" class="form-control" placeholder="Introduzca Descripción">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Tipo</label>
      <input type="email" class="form-control" placeholder="Introduzca Tipo">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Subtipo</label>
      <input type="email" class="form-control" placeholder="introduzca Subtipo">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    <div class="form-group">
      <label for="exampleSelect1">Estado</label>
      <select class="form-control" id="exampleSelect1">
        <option>Abierta</option>
        <option>Cerrada</option>
        <option>Cancelada</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    <div class="form-group">
      <label for="exampleSelect1">Nodo inicial</label>
      <select class="form-control" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="exampleSelect1">Nodo final</label>
      <select class="form-control" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
</div>
<!-- /FORMULARIO -->
