<form action="">
  <div class="container card card-outline-secondary">
    <br>
    <blockquote class="blockquote">
      <h3>Datos Generales</h3>
    </blockquote>
    <div class="row">
      <div class="col col-md-6 form-group">
        <label for="description">Descripcion</label>
        <input type="text" name="description" class="form-control" placeholder="Descripción" [(ngModel)]="workOnTrack.description">
      </div>
      <div class="col col-md-6 form-group">
        <label for="contractor">Contractor</label>
        <input type="text" name="contractor" class="form-control" placeholder="Contractor" [(ngModel)]="workOnTrack.contractor">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 form-group">
        <label for="workClass">Clase de trabajo</label>
        <input type="text" name="workClass" class="form-control" placeholder="Clase de trabajo" [(ngModel)]="workOnTrack.workOnTrackClass">
      </div>
      <div class="col col-md-6 form-group">
        <label for="personContact">Persona de contacto</label>
        <input type="text" name="personContact" class="form-control" placeholder="Persona de contacto" [(ngModel)]="workOnTrack.personContact">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 form-group">
        <label for="phone">Teléfono</label>
        <input type="text" name="phone" class="form-control" placeholder="Teléfono" [(ngModel)]="workOnTrack.phone">
      </div>
      <div class="col col-md-6 form-group">
        <label for="responsable">Responsable</label>
        <input type="text" name="responsable" class="form-control" placeholder="Responsable" [(ngModel)]="workOnTrack.responsable">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 form-group">
        <label for="occupationZone">Zona de ocupación</label>
        <input type="text" name="occupationZone" class="form-control" placeholder="Zona de ocupación" [(ngModel)]="workOnTrack.occupationZone">
      </div>
      <div class="col col-md-6 form-group">
        <label for="issueId">Incidencia</label>
        <select name="issueId" class="form-control" placeholder="Incidencia asociada" [(ngModel)]="workOnTrack.issueId">
          <option *ngFor="let issue of issuesService.issues" [value]="issue.id">{{issue.code}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-bordered" #tableIntervals>
          <thead class="thead">
            <tr>
              <th>Nodo Inicio</th>
              <th>Nodo Fin</th>
              <th>Hora de inicio</th>
              <th>Hora de fin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wot of workOnTrack.workIntervals; let i = index" id='row_{{i}}' (click)='clickRow(i)'>
              <td>{{ topologyService.getNodeByMnemo(wot.startNode).name }}</td>
              <td>{{ topologyService.getNodeByMnemo(wot.endNode).name }}</td>
              <td scope="row">{{ wot.startTime | date:"dd/MM/yyyy HH:mm" }}</td>
              <td scope="row">{{ wot.endTime | date: "dd/MM/yyyy HH:mm" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="addingInterval = true; intervalType = 1">Añadir intervalo por tipo</button>
        <button class="btn btn-primary" (click)="addingInterval = true; intervalType = 2">Añadir intervalo por lista</button>
      </div>
    </div>
    <br>
  </div>
  
  <br>

  <app-intervals [addingInterval]="addingInterval" [intervalType]="intervalType" (saveInterval)="onSaveInterval($event)" (cancelInterval)="onCancelInterval($event)"></app-intervals>

</form>