<!-- LISTADO DE ISSUES -->
<div class="container card card-outline-secondary">
  <br>
  <blockquote class="blockquote">
    <h3>Listado de Incidencias</h3>
  </blockquote>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>Código Incidencia</th>
            <th>Nodo Inicio</th>
            <th>Nodo Fin</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues">
            <td scope="row">{{issue.code}}</td>
            <td>{{issue.initialNode.name}}</td>
            <td>{{issue.finalNode.name}}</td>
            <td>
              <input type="checkbox" class="form-control" name="" id="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary">Nueva</button>
      <button class="btn btn-primary">Editar</button>
      <button class="btn btn-primary">Eliminar</button>
    </div>
  </div>
  <br>
</div>
<!-- /LISTADO DE ISSUES -->