<!-- LISTADO DE ISSUES -->
<div class="container card card-outline-secondary">
  <br>
  <blockquote class="blockquote">
    <h3>Listado de Incidencias</h3>
  </blockquote>
  <div class="row">
    <div class="col scrollable_y">
      <table class="table table-bordered" #tableIssues>
        <thead class="thead-inverse">
          <tr>
            <th>Código Incidencia</th>
            <th>Nodo Inicio</th>
            <th>Nodo Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues; let i = index" id='row_{{i}}' (click)='clickRow(i)'>
            <td scope="row">{{issue.code}}</td>
            <td>{{issue.initialNode.name}}</td>
            <td>{{issue.finalNode.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="createIssue()" [disabled]="componentState == 1 || componentState == 2">Nueva</button>
      <button class="btn btn-primary" (click)="editIssue()" [disabled]="componentState != 3">Editar</button>
      <button class="btn btn-primary" (click)="deleteIssue()" [disabled]="componentState != 3">Eliminar</button>
    </div>
  </div>
  <br>
</div>
<!-- /LISTADO DE ISSUES -->
<br>
<!-- /FORMULARIO -->
<form #formIssue="ngForm">
<div class="container card card-outline-secondary" *ngIf="componentState != 0">
  <br>
  <blockquote class="blockquote">
    <h3 *ngIf="componentState == 1">Nueva Incidencia</h3>
    <h3 *ngIf="componentState == 2">Editar Incidencia</h3>
    <h3 *ngIf="componentState == 3">Creación de Incidencia</h3>
  </blockquote>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Código</label>
        <input type="text" name="code" id="code" [(ngModel)]="issueSelected.code" class="form-control" placeholder="Introduzca Código" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Descripción</label>
        <input type="text" name="description" id="description" [(ngModel)]="issueSelected.description" class="form-control" placeholder="Introduzca Descripción">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tipo</label>
        <input type="text" name="type" [(ngModel)]="issueSelected.type" class="form-control" placeholder="Introduzca Código" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Subtipo</label>
        <input type="text" name="subtype" [(ngModel)]="issueSelected.subtype" class="form-control" placeholder="Introduzca Código" >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Estado</label>
        <select name="state" [(ngModel)]="issueSelected.state" class="form-control">
          <option value="0">Abierta</option>
          <option value="1">Cerrada</option>
          <option value="2">Cancelada</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nodo Inicial</label>
        <select name="initialNode" class="form-control" [(ngModel)]="initialNode" (change)="changeTracks()">
          <option value="-1"></option>
          <option *ngFor="let n of nodes" value="{{n.id}}">{{n.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Nodo final</label>
        <select name="finalNode" id="" class="form-control" [(ngModel)]="finalNode" (change)="changeTracks()">
          <option value="-1"></option>
          <option *ngFor="let n of nodes" value="{{n.id}}">{{n.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Hora inicial</label>
        <input type="text" class="form-control" name="" id="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Hora final</label>
        <input type="text" class="form-control" name="" id="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Hora final esperada</label>
        <input type="text" class="form-control" name="" id="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Vías seleccionadas</label>
        <select multiple name="" id="" class="form-control">
          <option value="" *ngFor="let t of tracks">
            Via {{t.name}} ({{t.initialNodeShortName}}
            <span *ngIf="t.initialNodeShortName != t.finalNodeShortName">-{{t.finalNodeShortName}}</span>
            )
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="componentState == 2">
      <button class="btn btn-primary">Guardar</button>
      <button class="btn btn-primary">Limpiar</button>
      <button class="btn btn-primary" (click)="cancelEdition()">Cancelar</button>
    </div>
    <div class="col" *ngIf="componentState == 1">
      <button class="btn btn-primary">Guardar</button>
      <button class="btn btn-primary">Limpiar</button>
      <button class="btn btn-primary" (click)="cancelEdition()">Cancelar</button>
    </div>
  </div>
  <br>
</div>
</form>
<!-- /FORMULARIO -->
<br>