<div class="row">
  <div class="col">
    <select multiple class="form-control selectpicker" name="originItems" [(ngModel)]="origSelectedItems">
      <option *ngFor="let item of getItems()" [value]="item.id">
        {{format(item)}}
      </option>
    </select>
  </div>
  <div class="col" *ngIf="intervalTypeBy == 1">
    <select multiple class="form-control selectpicker" name="destinationItems" #destinationItems>
      <option *ngFor="let item of destSelectedItemsByType" [value]="item.trackType">{{formatDest(item)}}</option>
    </select>
  </div>
  <div class="col" *ngIf="intervalTypeBy == 2">
    <select multiple class="form-control selectpicker" name="destinationItems" #destinationItems>
      <option *ngFor="let item of destSelectedItemsById" [value]="item.id">{{formatDest(item)}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col col-3">
    <button class="btn btn-outline-warning btn-block" (click)="onSelect(0)">TOTAL</button>
  </div>
  <div class="col col-3">
    <button class="btn btn-outline-warning btn-block" (click)="onSelect(1)">ELECTRIFICADO</button>
  </div>
  <div class="col">
    <button class="btn btn-outline-warning btn-block" (click)="onDelete()">Borrar</button>
  </div>
</div>